.home{
    background: linear-gradient(#000000ad,#000000ad), url(../img/property_8.jpg);
    width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}

.introbar{
    padding: 10%;
}

