{% load static %}
<link rel="stylesheet" href="{% static 'css/filter.css' %}">
  
<form action="" method="post">
    {% csrf_token %}
    <div class="input-group mb-4">
        <input type="text" name="term" class="form-control" placeholder="What are you looking for?" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="button-addon2" onclick="reveal()">Filters</button>
        </div>
    </div>
</form>
                    
        <div id="filter">
            Price
            <input type="range" class="custom-range" id="customRange1">
            Bathroom
            <input type="range" class="custom-range" id="customRange1">
            Bedroom
            <input type="range" class="custom-range" id="customRange1">
            Area
            <input type="range" class="custom-range" id="customRange1">
            <select class="custom-select">
                <option selected>Location</option>
                {% for location in locations %}
                    <option value="{{location.location}}">{{location.location}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="button" id="button-addon2" onclick="reveal()">Filter</button>
        </div>
        <script>

            function reveal() {
               document.getElementById('filter').style.display=document.getElementById('filter').style.display==="flex"?"none":"flex"
            }
            
            </script>