{% extends 'base.html' %}



{% block title %}
Home
{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="home">
    <div class="introbar" style="color: gainsboro;">
        <h1>
            Housing & Insights all in one place.
        </h1>
                        
        {% include 'filter.html' %}

    </div>
</div>
<div class="container">
    <h3 class="text-secondary">Recent Properties</h3>
    <div id="properties-list">
        {% for property in properties %}
            <div class="card" style="width: 20rem;margin: 20px;">
                <img src="/media/images/{{property.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="text-primary">{{property.price}}</h3>
                    <h5 class="card-title">{{property.title}}</h5>
                    <p class="card-text">{{property.description}}</p>
                    <a href="/properties/{{property.id}}" class="btn btn-primary">View more</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}