{% extends 'base.html' %}




{% block title %}
Insights
{% endblock title %}
{% block content %}
{% load static %}
<div class="container">
  <h1>House360 Insights</h1>
    <div>
      <div id="bar_chart"></div>
      <div id="series_chart_div"></div>
      <div id="regions_div"></div>
      <div id="series_chart_div"></div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/loader.js' %}"></script>

<script type="text/javascript">
 google.charts.load('current', {'packages':['corechart']});
 google.charts.setOnLoadCallback(load_and_plot);

function load_and_plot() {

  fetch('/insights/grouped').then(res=>res.json()).then(response=>{
    var table=google.visualization.arrayToDataTable([['Location','Count']].concat(response.map(res=>{return [res.location,res.counts]})));
    var chart = new google.visualization.ColumnChart(document.getElementById("bar_chart"));
    var options = {
        title: "Density of Precious Metals, in g/cm^3",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
    chart.draw(table, options);
  })
}


</script>
{% endblock content %}