{% extends 'base.html' %}

{% block title %}
Properties
{% endblock title %}


{% block content %}
{% load static %}
<div class="container">
 <h1>House360 Properties List</h1>
 {% include 'nav.html' %}
 <div style="display:flex;flex-wrap: wrap;flex-direction: row;">
{% for x in properties %}
            <div class="card" style="width: 18rem;margin: 20px;">
                <img src="{% static 'img/city_3.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
{% endfor %}
</div>
</div>
{% endblock content %}