{% extends 'base.html' %}

{% block title %}
Properties
{% endblock title %}


{% block content %}
{% load static %}
<div class="container">
 <h1>House360 Properties List</h1>
 {% include 'filter.html' %}
 <div style="display:flex;flex-wrap: wrap;flex-direction: row;">
        {% for property in properties %}
            <div class="card" style="width: 20rem;margin: 20px;">
                <img src="/media/images/{{property.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>{{property.price}}</h3>
                    <h5 class="card-title">{{property.title}}</h5>
                    <p class="card-text">{{property.description}}</p>
                    <a href="properties/{{property.id}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
</div>
</div>
{% endblock content %}